.navbar{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: white;
    background-color: #060606;
    padding: 15px 7px;
    justify-content: space-between;
}
.nav-h4{
    color: rgb(227, 37, 37);
    font-size: 25px;
    padding-left: 10px;
    cursor: pointer;
}

ul li{
    font-size: 18px;
    display: inline-block;
    margin : 10px 35px;
    cursor: pointer;
    list-style: none;
}
.nav-btn{
    background-color: rgb(227, 37, 37);
    color: white;
    font-size: 15px;
    border-radius: 20px;
    padding: 8px;
    cursor: pointer;
}


ul a {
    text-decoration: none;
    color: white; 
}

ul a:hover {
    color: #ffffff; 
}

ul a:visited {
    color: white; 
}



@media (min-width:300px) and (max-width: 600px) {
    .navbar{
        width: 100%;
        padding: 20px;
    }
  }